<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Learning Journal - Title Placeholder</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="{{ request.static_url('learning_journal:static/js/jquery-2.1.3.min.js') }}"></script>

    <!-- Bootstrap -->
    <link href="{{ request.static_url('learning_journal:static/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ request.static_url('learning_journal:static/js/bootstrap.min.js') }}"></script>

    <!-- Fonts -->
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- App Stylesheet -->
    <link href="{{ request.static_url('learning_journal:static/css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="{{ request.route_url('home') }}"><h2 class="logo pull-left">Learning Journal</h2></a>
      <nav>
        <ol class="breadcrumb pull-right">
          <li><a href="{{ request.route_url('home') }}">Home</a></li>
        </ol>
      </nav>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
    <footer>
      <p>Created in the UW PCE Python Certificate Program</p>
    </footer>
  </body>
</html>
